.container{
    width: 100%;
    /* max-width: 100%; */
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding-left: 0;
    padding-right: 0;
}

.logo{
    width:150px;
    margin-left: 50px;
}